body {
    background-image: url("../images/background_img.jpg");
    background-repeat: repeat;
  }

h1 {
    font-size: 350%
}

.jumbotron {
    margin-top: 1in;
    background-color: rgb(1, 1, 102);
    color: white;
    border: solid; 
    border-color: white;
}

.card-header {
    background-color: rgb(1, 1, 102);
    color: white;
    font-size: 130%;
    border: solid; 
    border-color: white;
}

#winCount {
    color: green;
    font-size: 150%;
}

#lossCount {
    color: red;
    font-size: 150%;
}