body{
    width: 960px;
}

.titleHeader{
    height: 200px;
    width: 400px;
    background-color: orange;
    display: table-cell;
    vertical-align: middle;
    text-align:center;
    color: white; 
    font-size: 50px;
}
#wrapper{
   margin: 35px auto auto 20px;
}
#instructions{
    margin: 20px auto auto 15px;
    width: 600px;
    height: 500px;
    background-color: tan;
}

#Row3{
    margin: 35px 0 0 10px;
    width: 600px;
    height: 250px;
    background-color: orange;
}

.numBox{
    width: 55%;
    height: 100%;
    float: left;
    background-color: blue;
}

.winLose{
    width: 40%;
    height: 100px;
    float: right;
    background-color: black; 
}

#gameButtons{
    width: 35px auto auto 10px;
    height: 100%;
    background-color: blue;
    margin: 0 10px 0 10px;
    float: left;
}
